@charset "UTF-8";

html {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(230, 240, 255);
    color: rgb(20, 40, 0);
}

html, body {
    display: flex;
    margin: 0;
    margin-bottom: 40px;
    flex-direction: column;
}

input {
    display: none;
}

/*-----------------------------------*/

nav {  
    position: fixed;
    width: 100vw; 
    margin: 0 auto 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid rgb(60, 80, 0);   
}
nav ul {      
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;   
    justify-content: space-evenly;
}
nav a {  
    color: inherit;
    padding: 10px; 
    text-decoration: none; 
    transition-duration: 400ms;      
}
#navcheckbox, #navicon img { 
    display: none; 
}
nav a:hover {
    background-color: rgb(190, 220, 180);
    transition-duration: 400ms;
    font-size: 24px;
}

/*-----------------------------------*/

header {
    padding-top: 30px;
    background-image: url(../img/natur.jpg);
    background-position: center;
    background-size: 100vw auto;
    font-size: 30px; 
    color: white;  
    text-align: center;
    height: min-content;
    text-shadow: 0 0 5px rgb(40, 80, 0);
}
header h1 {
    margin-left: 8px;
    margin-right: 8px;
}

/*-----------------------------------*/

main {
    margin: 16px;    
    height: 100%;
}

.text {
    display: block;
    padding-top: 32px;
    padding-bottom: 12px;
    border-bottom: 1px dotted rgb(100, 80, 20);
}

main p {
    font-size: 15px;   
}

.top_img {
    float: right;
    margin-bottom: 8px;
    margin-left: 12px;
    width: 300px;
}

.bottom_img {
    display: none;
}

.clickable {
    display: none;
}

@media screen and (max-width: 740px) {    
    .top_img { display: none; }
    nav { 
        text-align: right;
        width: min-content;
        padding: 8px; 
        right: 0;
        border-left: 2px solid rgb(60, 80, 0);
        border-bottom-left-radius: 10px; 
    }
    nav a { 
        font-size: 14px;
        padding: 12px;   
        width: 100%   
    }
    nav ul {     
        flex-direction: column;
        text-align: right;
        gap: 12px;    
    }
    #navicon img { 
        display: inline;       
        transition-duration: 100ms; 
    }
    #navicon img:hover { 
        transform: scale(1.2); 
        cursor: pointer;
    } 
    nav a:hover { font-size: 14px; }
    #navcheckbox ~ ul { display: none; }
    #navcheckbox:checked ~ ul { display: flex; }
    header { background-size: auto auto; }
}

@media screen and (max-width: 460px) {
    html { font-size: 13px; }
    header { background-size: auto 100vw; }
    main p { font-size: 12.6px; }
    main {
        margin-left: 3%;
        margin-right: 3%;
    }
    header { 
        font-size: 18px;
        padding: 0; 
    }
    nav { display: none; }
    .info { display: none;}
    .text { 
        padding-top: 0;
        max-height: 0;
        overflow: hidden; 
        transition: max-height 0.4s;
        border-bottom: none;
        padding-bottom: 0;
    }
    .clickable { 
        display: flex;   
        justify-content: center;
        background-color: white;
        border: 1px solid rgb(80, 100, 60);
        border-radius: 6px;
        margin-top: 20px;     
    }   
    .bottom_img {
        display: block;
        width: 100%;
    }

    /*-----------------------------------*/

    #b_lodjur:checked ~ #lodjur { 
        max-height: 1500px; 
        transition: max-height 1s;
        padding-bottom: 12px;
        border-bottom: 1px dotted rgb(100, 80, 20);
    }
    #b_lodjur:checked ~ #c_lodjur { background-color: rgb(190, 220, 180); }
    
    #b_varg:checked ~ #varg { 
        max-height: 1500px; 
        transition: max-height 1s; 
        padding-bottom: 12px;
        border-bottom: 1px dotted rgb(100, 80, 20);
    }
    #b_varg:checked ~ #c_varg { background-color: rgb(190, 220, 180); }

    #b_kungsörn:checked ~ #kungsörn { 
        max-height: 1500px; 
        transition: max-height 1s;
        padding-bottom: 12px;
        border-bottom: 1px dotted rgb(100, 80, 20);
    }
    #b_kungsörn:checked ~ #c_kungsörn { background-color: rgb(190, 220, 180); }

    #b_björn:checked ~ #björn { 
        max-height: 1500px; 
        transition: max-height 1s;
        padding-bottom: 12px;
        border-bottom: 1px dotted rgb(100, 80, 20);
    }
    #b_björn:checked ~ #c_björn { background-color: rgb(190, 220, 180); }

    #b_järv:checked ~ #järv { 
        max-height: 1500px; 
        transition: max-height 1s; 
        padding-bottom: 12px;
        border-bottom: 1px dotted rgb(100, 80, 20);
    }
    #b_järv:checked ~ #c_järv { background-color: rgb(190, 220, 180); }

    #b_geting:checked ~ #geting { 
        max-height: 1500px; 
        transition: max-height 1s; 
        padding-bottom: 12px;
        border-bottom: 1px dotted rgb(100, 80, 20);
    }
    #b_geting:checked ~ #c_geting { background-color: rgb(190, 220, 180); }
}
