body {
    text-align: center;
    font-family: "Arial", sans-serif;
    background-color: #12171c;
    color: #f5f5f5;
    font-size: 18px;
    margin: 0;
}

h4 {
    margin: 6px 0 12px 0;
}

header {
    margin: 120px 0 60px 0;
}

main {
    display: inline-block;
    width: 100%;
}

#selection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    background-color: #22272c;
    padding: 12px 0 12px 0;
}

#magsize input {
    width: 32px;
    font-size: 18px;
    background-color: #12171c;
    color: #f5f5f5;
    border: none;
    padding: 6px;
}

#button button {
    background-color: #f5f5f5;
    color: #12171c;
    font-size: 18px;
    padding: 6px;
    border: none;
    cursor: pointer;
}

#button {
    margin: 60px 0 30px 0;
}

#button button:hover {
    background-color: lightgray;
}

#result {
    display: inline-block;
    padding: 0 12px 0 12px;
    background-color: #22272c;
}

/*Dropdown menu*/
.dropbutton {
    text-align: left;
    background-color: #12171c;
    color: #f5f5f5;
    font-size: 18px;
    padding: 6px;
    width: 100%;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: absolute;
    display: none;
    text-align: left;
    font-size: 14px;
    background-color: #f5f5f5;
}
.perk:hover > .dropbutton {
    color: black;
    background-color: #f5f5f5;
}
.perk:hover > .dropdown {
    color: black;
    display: block;
}
.dropdown p:hover {
    background-color: lightgray;
}
.dropdown p {
    padding: 0;
    margin: 0;
    cursor: pointer;
    padding: 6px;
}
/*---------------*/