body {
    text-align: center;
    font-family: "Arial", sans-serif;
    background-color: #12171c;
    color: #f5f5f5;
    font-size: 18px;
    margin: 0;
}

h4 {
    margin: 0 0 12px 0;
}

header {
    margin: 120px 20px 60px 20px;
}

.bold {
    font-weight: bold;
}
.small {
    font-size: 16px;
}

main {
    display: inline-block;
    width: 100%;
}

#selection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #30353a;
    padding: 12px 0 12px 0;
    box-shadow: 0 0 5px 5px #30353a;
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5%;
    padding: 12px 0 12px 0;
}

.input input[type=text] {
    width: 32px;
    font-size: 18px;
    background-color: #12171c;
    color: #f5f5f5;
    border: none;
    padding: 6px;
}

.input input[type=button] {
    width: 32px;
    height: 32px;
    background-color: #12171c;
    border: none;
    color: #f5f5f5;
    font-size: 24px;
    font-weight: bold;
}

.input input[type=button]:hover {
    background-color: lightgray;
    color: #12171c;
}

#buttons button {
    background-color: #f5f5f5;
    color: #12171c;
    font-size: 18px;
    padding: 7px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 60px 0 30px 0;
    gap: 24px;
}

#buttons button:hover {
    background-color: lightgray;
}

#result {
    display: inline-block;
    padding: 0 12px 0 12px;
    background-color: #30353a;
    border-radius: 11px;
}

/*Dropdown menu*/
.container {
    position: relative;
}
.dropbutton {
    text-align: left;
    background-color: #12171c;
    color: #f5f5f5;
    font-size: 18px;
    padding: 6px;
    width: 100%;
    border: none;
    cursor: pointer;
}
.dropdown {
    min-width: inherit;
    position: absolute;
    display: none;
    text-align: left;
    font-size: 14px;
    background-color: #f5f5f5;
}
.perk:hover > .container > .dropbutton {
    color: black;
    background-color: #f5f5f5;
}
.perk:hover > .container > .dropdown {
    color: black;
    display: block;
    min-width: 100%;
    width: max-content;
}
.dropdown p:hover {
    background-color: lightgray;
}
.dropdown p {
    padding: 0;
    margin: 0;
    cursor: pointer;
    padding: 6px;
}
/*---------------*/